{% extends "base.html" %}
{% block content %} Home - Flask{% endblock %}
    {%block body %}
        <h1> Welcome</h1>
        <from method="name">enter your name:</label>
            <input type="text" name="name" placeholder="name">
                <br>
                <input type="submit" value="subit">
            </from>
            <img scr="https://m.media-amazon.com/images/M/MV5BZmIwZjA1NzUtNTA0OS00OWMyLWE5MzctM2RjOWYxZjQyZDdmXkEyXkFqcGc@._V1_.jpg" alt="dirty dancing">
    {% endblock %}
