<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <title>home template</title>
    <style>
        img{
            height: 150px;
            width: auto;
        }
    </style>
    <head>
    <body>
        <h1> First flask project</h1>
        <from method="name">enter your name:</label>
            <imput type="text" name="name" placeholder="name">
                <br>
                <input type="submit" value="subit">
            </from>


   
    </body>
    </head>
</body>
</html>

